<!DOCTYPE html>
<html>
    <center>
    <br>
      <h1><p class = "text-secondary">ACCUEIL</p></h1>
      <p>
      <p><h4><p class = "text-secondary">Bienvenue sur la page des potins !</p></h4>
      <br>
      <p><h6><p class = "text-secondary">Voici la liste des potins :</p></h6>
      <br>

      <!-- POST-IT START -->
      <div class="container bootstrap snippets bootdeys">
        <div class="row">
          <% @titles.reverse_each.with_index do |gossip, index| %>
          <% inc = index % 5 %>
            <div class="col-4 content-card">
              <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="<%= @colors[inc] %>" data-radius="none">
                  <div class="content">
                    <h6 class="category">par <%= gossip.user.first_name %></h6>
                      <h4 class="title"><a href="/gossips/<%= gossip.id %>"><%= gossip.title %></a></h4>
                        <p class="description"><%= gossip.content %></p>
                          <i class="fas fa-thumbs-up"></i>
                        <%if current_user%>
                      <br><br><button type="button" class="btn btn-success justify-content-end">J'aime</button>
                    <%end%>
                  </div>
                </div> <!-- end card -->
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <!-- POST-IT END -->
      <br>
      <br>
      <%= link_to "Revenir en haut de la page", root_path, :class=>"navbar-brand my_link" %>
      <br><br><br>
    </center>
  </body>
</html>