<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7bec0c7944.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  </head>

  <body class="bk_gossip">
    <nav class="navbar navbar-expand-sm navbar navbar-dark bg-success" style="background-color: #e3f2fd">
      <%= link_to "GOSSIP Project", root_path, :class=>"navbar-brand", style:"margin-left: 10px"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Accueil", root_path, :class=>"nav-link text-white" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Team", team_path, :class=>"nav-link text-white" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Contact", contact_path, :class=>"nav-link text-white" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Créer un potin", new_gossip_path, :class=>"nav-link text-white" %>
          </li>
        </ul>
    </nav>

    <center>

          <% if flash[:success].present? %>
        <div class="alert alert-success custom_alert" role="alert">
          <%= flash[:success] %>
        </div>
      <% end %>
      
      <h1><p class = "text-secondary"><%= @index.title %></h1></p>
      <p>par <%= link_to "#{@user.first_name}", user_path(@user.id), :class=>"my_link" %></a> le <%= @index.created_at.strftime("%d/%m/%Y %H:%M") %></p>
      <p>Depuis la ville de <%= link_to "#{City.find(@user.city_id).name}", city_path(@user.city_id), :class=>"my_link" %></a></p> 
      <br>
      <p><%= @index.content %></p>
      <br><%= button_to "Modifier ce potin", edit_gossip_path(@index.id), :class=>"btn btn-warning", method: :get %>
      <%= button_to "Détruire ce potin", gossip_path(@index.id), :class=>"btn btn-danger", form: { data:{turbo_confirm: "Êtes-vous CERTAIN(E) ?"}}, method: :delete %>
      <br><br>
      <br><h4><p class = "text-secondary">Espace commentaires</p></h4>

      <br>
        Il y a <%=@index.comments.count %> commentaires.
      <br>
      
      <% Comment.all.each do |c| %>
        <% if c.gossip_id == @index.id%>
          <br><%=User.find_by(id: c.user_id).first_name %> : <%= c.content%> - 
          <%=button_to "Editer", edit_gossip_comment_url(@index, c.id), :class=>"btn btn-warning", method: :get %>
          <%=button_to "Supprimer", gossip_comment_path(@index, c.id), :class=>"btn btn-danger", form: { data:{turbo_confirm: "Êtes-vous CERTAIN(E) ?"}}, method: :delete %>
          <br>
        <% end %>
      <% end %>
      
      <br><br>
      <h1><p class = "text-secondary">Rédiger un commentaire</h1></p>
      <br>

      <%= form_tag(gossip_comments_path(@index), method: :post) do%>
        <%= label_tag "Rédiger un commentaire" %>
        <br><br>
        <%= text_area_tag :content, nil, placeholder: "Votre commentaire...", rows: 5, cols: 50 %>
        <br><br>
        <%= submit_tag "Publier ce commentaire.", data: {turbo:false} %>
      <% end %>
      
      <br><br><br>
      <%= link_to "Revenir à la page d'accueil", root_path, :class=>"navbar-brand my_link" %>

    </center>
    
  </body>
</html>